
:root {
    --background-color: #f0f8ff;

    --color-red: #c81e00;
    --color-darkOrange: #df830a;
    --color-orange: #ff9d14;
    --color-blue: #007bff;
    --color-green: #218f3b;
    --color-darkGray: #333;

    --color-darkPurple: #52357B;
    --color-purple: #7F55B1;
    --color-lightPurple: #9B7EBD;
    --color-pink: #F49BAB;
    --color-lightPink: #FFE1E0;

    --font-size2: 1rem;
    --font-size3: 1.2rem;
    --font-size4: 1.4rem;
    --font-size5: 1.6rem;
    --font-size6: 2rem;
}


body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-lightPink);
}


/* ================================================================================  TOPBAR  */

.topbar {
    position: fixed;
    top: 0;
    margin-top: 4vw;
    width: 90vw;
    padding-left: 2vw;
    border-radius: 30vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-darkPurple);
    z-index: 10;
}

.topbar button {
    width: 10vw;
    height: 10vw;
    color: white;
    font-size: var(--font-size4);
    font-weight: bold;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    padding-top: 0.2rem;
    margin: 2vw 2.5vw;
}

.topbar .reset {
    margin: 2vw;
    width: 12vw;
    border-radius: 14vw;
    margin-left: auto;
    background-color: white;
    color: var(--color-darkPurple);
}


/* ================================================================================  MAIN CONTAINER  */

.container {
    margin-top: 20vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container .win {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 40vw;
    padding-top: 0.2rem;
    border-radius: 50%;
    border: 0.5rem solid var(--color-darkPurple);
    margin-top: 2rem;
    color: var(--color-darkPurple);
    font-size: 5rem;
    font-weight: bold;
}


/* ================================================================================  SCANNER  */

video {
    border-radius: 30px;
}

#reader {
    width: 90%;
    margin: auto;
    margin-bottom: 5vw;
}

#reader button {
    position: absolute;
    width: 12vw;
    height: 12vw;
    right: 0;
    margin: 0.5rem;
    border-radius: 50%;
    border: 0.3rem solid var(--color-lightPink);
    color: white;
    font-size: var(--font-size4);
    font-weight: bold;
    padding-top: 0.2rem;
    background-color: var(--color-red);
    z-index: 5;
}


/* ================================================================================  PRODUCT  */

#container-product {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 4vw;
}

#container-product img {
    width: 27vw;
    height: 27vw;
    border-radius: 4vw;
}


/* ==========  DESKTOP  ========== */

@media screen and (min-width: 768px) {

    /* ================================================================================  TOPBAR  */

    .topbar {
        position: fixed;
        top: 0;
        margin-top: 4vh;
        width: 85vw;
        padding-left: 2vh;
        border-radius: 30vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--color-darkPurple);
        z-index: 10;
    }

    .topbar button {
        width: 5vh;
        height: 5vh;
        color: white;
        font-size: var(--font-size5);
        font-weight: bold;
        border-radius: 50%;
        border: none;
        background-color: transparent;
        padding-top: 0.2rem;
        margin: 1vh 3vh;
    }

    .topbar .reset {
        margin: 1.5vh;
        width: 8vh;
        border-radius: 14vh;
        margin-left: auto;
        background-color: white;
        color: var(--color-darkPurple);
    }


    /* ================================================================================  MAIN CONTAINER  */

    .container {
        margin-top: 17vh;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .container .win {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25vh;
        height: 25vh;
        padding-top: 0.2rem;
        border-radius: 50%;
        border: 0.8rem solid var(--color-darkPurple);
        margin-top: 2rem;
        color: var(--color-darkPurple);
        font-size: 7rem;
        font-weight: bold;
    }


    /* ================================================================================  SCANNER  */

    video {
        border-radius: 5vh;
        border: 3px solid var(--color-darkPurple);
    }

    #reader {
        width: 50%;
        margin: auto;
        
    }

    #reader button {
        position: absolute;
        width: 6vh;
        height: 6vh;
        right: 0;
        margin: 1rem;
        border-radius: 50%;
        border: none;
        color: white;
        font-size: var(--font-size5);
        font-weight: bold;
        padding-top: 0.2rem;
        background-color: var(--color-red);
        z-index: 5;
    }


    /* ================================================================================  PRODUCT  */

    #container-product {
        width: 93%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 2vh;
    }

    #container-product img {
        width: 24vh;
        height: 24vh;
        border-radius: 3vh;
    }



}